<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Survey Dataset Exploration Lab**

## Objectives

-   Load the dataset that will used for the capstone project.
-   Explore the dataset.
-   Get familiar with the data types.

## Load the dataset

Import the required libraries.

In [1]:
import pandas as pd

The dataset is available on the IBM Cloud at the below url.

In [3]:
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

Load the data available at dataset_url into a dataframe.

In [4]:
df = pd.read_csv(dataset_url)

## Explore the data set

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [5]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

In [7]:
df.describe()

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
count,11552.000000,1.073700e+04,1.073000e+04,11427.000000,9083.000000,11255.000000
mean,12362.212517,7.499932e+05,1.313340e+05,42.051851,4.762829,30.772394
std,7271.939210,9.639522e+06,2.943245e+05,24.528561,4.548401,7.392780
min,4.000000,0.000000e+00,0.000000e+00,3.000000,0.000000,16.000000
25%,6011.500000,2.500000e+04,2.672700e+04,40.000000,2.000000,25.000000
50%,12323.500000,6.500000e+04,5.774400e+04,40.000000,4.000000,29.000000
75%,18686.500000,1.200000e+05,1.000000e+05,43.000000,5.000000,35.000000
max,25142.000000,7.000000e+08,2.000000e+06,1012.000000,99.000000,99.000000

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11552 entries, 0 to 11551
Data columns (total 85 columns):
Respondent                11552 non-null int64
MainBranch                11552 non-null object
Hobbyist                  11552 non-null object
OpenSourcer               11552 non-null object
OpenSource                11471 non-null object
Employment                11552 non-null object
Country                   11552 non-null object
Student                   11499 non-null object
EdLevel                   11436 non-null object
UndergradMajor            10812 non-null object
EduOther                  11388 non-null object
OrgSize                   11454 non-null object
DevType                   11485 non-null object
YearsCode                 11543 non-null object
Age1stCode                11539 non-null object
YearsCodePro              11536 non-null object
CareerSat                 11552 non-null object
JobSat                    11551 non-null object
MgrIdiot                  11054 non-null object
MgrMoney                  11050 non-null object
MgrWant                   11054 non-null object
JobSeek                   11552 non-null object
LastHireDate              11552 non-null object
LastInt                   11129 non-null object
FizzBuzz                  11515 non-null object
JobFactors                11549 non-null object
ResumeUpdate              11511 non-null object
CurrencySymbol            11552 non-null object
CurrencyDesc              11552 non-null object
CompTotal                 10737 non-null float64
CompFreq                  11346 non-null object
ConvertedComp             10730 non-null float64
WorkWeekHrs               11427 non-null float64
WorkPlan                  11429 non-null object
WorkChallenge             11384 non-null object
WorkRemote                11544 non-null object
WorkLoc                   11520 non-null object
ImpSyn                    11547 non-null object
CodeRev                   11551 non-null object
CodeRevHrs                9083 non-null float64
UnitTests                 11523 non-null object
PurchaseHow               11354 non-null object
PurchaseWhat              11514 non-null object
LanguageWorkedWith        11541 non-null object
LanguageDesireNextYear    11415 non-null object
DatabaseWorkedWith        11096 non-null object
DatabaseDesireNextYear    10497 non-null object
PlatformWorkedWith        11130 non-null object
PlatformDesireNextYear    10991 non-null object
WebFrameWorkedWith        10139 non-null object
WebFrameDesireNextYear    9918 non-null object
MiscTechWorkedWith        9343 non-null object
MiscTechDesireNextYear    10078 non-null object
DevEnviron                11523 non-null object
OpSys                     11518 non-null object
Containers                11470 non-null object
BlockchainOrg             9198 non-null object
BlockchainIs              8915 non-null object
BetterLife                11452 non-null object
ITperson                  11517 non-null object
OffOn                     11514 non-null object
SocialMedia               11251 non-null object
Extraversion              11532 non-null object
ScreenName                11039 non-null object
SOVisit1st                11227 non-null object
SOVisitFreq               11547 non-null object
SOVisitTo                 11551 non-null object
SOFindAnswer              11549 non-null object
SOTimeSaved               11501 non-null object
SOHowMuchTime             9616 non-null object
SOAccount                 11551 non-null object
SOPartFreq                10404 non-null object
SOJobs                    11546 non-null object
EntTeams                  11547 non-null object
SOComm                    11552 non-null object
WelcomeChange             11463 non-null object
SONewContent              9557 non-null object
Age                       11255 non-null float64
Gender                    11477 non-null object
Trans                     11429 non-null object
Sexuality                 11005 non-null object
Ethnicity                 10869 non-null object
Dependents                11408 non-null object
SurveyLength              11533 non-null object
SurveyEase                11538 non-null object
dtypes: float64(5), int64(1), object(79)
memory usage: 7.5+ MB

Print the number of rows in the dataset.

In [18]:
print (df.shape)

(11552, 85)

In [17]:
print (df.shape[0])

11552

Print the number of columns in the dataset.

In [15]:
df.shape
print (df.shape[1])

85

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [20]:
df.info() # There's also some other way of doing this.

pandas.core.indexes.base.Index

Print the mean age of the survey participants.

In [11]:
df['Age'].mean()

30.77239449133718

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [10]:
set(df['Country'])
print (len(set(df['Country'])))

135

## Authors

Renju Mathew   
Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-05-16        | 1.0     | Renju Mathew      | Completed notebook                 |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://tldrlegal.com/license/mit-license).